# gitignore
.DS_Store
# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints
test.ipynb
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore plots

# Ignore dataset files

real_datasets/data_cache/*